* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-weight: 500;
  --primary-color: #0155b5;
  --secondary-color: #f9d759;
  --dark-color: #1d2127;
  --light-gray-color: #8d8d8d;
}

body {
  width: 82.5%;
  margin: auto;
  margin-top: 7.5px;
  font-family: 'Poppins';
}

/* ------------TOP MENU------------ */

.menu1 {
  display: flex;
  padding: 10px 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 1.3rem;
}

.menu1 ul {
  list-style-type: none;
  display: flex;
  font-size: 1.25rem;
  margin-top: -5px;
  letter-spacing: 0.5;
}

.menu1 > ul > li {
  padding: 0 10px;
  display: flex;
  align-items: flex-start;
}

.menu1 h3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: -8px;
  margin-left: -5px;
}

.dropdowns {
  flex-grow: 2;
  justify-content: flex-end;
  margin-right: 20px;
}

.dropdown-list li {
  padding: 4px 10px;
  width: 100%;
  text-align: left;
  transition: all 0.2s ease-out;
}

.dropdown-list li:hover {
  background-color: #f1f1f1;
  color: var(--light-gray-color);
}

.menu1 > ul li a {
  text-decoration: none;
  color: var(--dark-color);
}

.menu1 > ul li a:hover {
  color: var(--primary-color);
} 

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  top: 35px;
  box-shadow: 1px 1px 1px #aaa;
  padding: 2px 0;
  width: auto;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  z-index: 99;
  background-color: white;
}

.dropdown-text:hover {
  color: var(--primary-color);
  cursor: context-menu;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
}

/* ------------ LOGO AND SEARCH BAR ------------ */

.menu2 {
  margin: 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.search-bar {
  width: 100%;
  margin: 0 25px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  height: auto;
  display: flex;
  padding: 3px;
  margin-right: 35px;
}

#search-text {
  flex-grow: 3;
  border: none;
  padding: 10px;
  font-family: inherit;
}

#search-text:focus {
  border: none;
  outline: none;
}

.search-bar .category {
  margin: 0 20px;
}

.search-bar select {
  background-color: transparent;
  border: none;
  padding-top: 10px;
  font-family: inherit;
  color: var(--light-gray-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.search-bar select option {
  background-color: white;
  color: var(--dark-color);
  font-family: inherit;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.search-icon-container {
  padding-top: 11.5px;
  margin: 0 20px;
  margin-left: -3px;
}

.user-icon-container {
  padding-top: 7.5px;
}

#user-icon {
  font-size: 3.25rem;
}

.sign-in {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.sign-in .user-icon-container {
  margin-right: 10px;
}

.sign-in-text h3 {
  font-weight: normal;
  color: #777;
  font-size: 1.2rem;
  margin-bottom: -1px;
}

.sign-in-text p {
  color: var(--dark-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
  cursor: pointer;
}

.cart-icon-container {
  margin: 0 10px;
}

#bag-icon {
  font-size: 4.25rem;
}

.no-of-items {
  position: relative;
  right: -28px;
  top: -50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 2.5px;
  height: 18px;
  width: 18px;
  text-align: center;
}

.cart-text h3 {
  font-weight: normal;
  color: #777;
  font-size: 1.2rem;
  margin-bottom: -1px;
}

.cart-text p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
}

.cart-dropdown {
  position: absolute;
  top: 132px;
  right: 114px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px var(--light-gray-color);
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 20px 15px;
  display: none;
}

.shopping-cart:hover .cart-dropdown {
  display: block;
}

.cart-dropdown:hover {
  display: block;
}

.cart-dropdown::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 80%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.cart-dropdown hr {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.top-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-color);
}

.top-text a {
  color: var(--dark-color);
  text-decoration: none;
}

.top-text a:hover {
  text-decoration: underline;
}

.bottom-text {
  text-align: center;
  color: #666;
  font-size: 1.3rem;
}

/* ------------ MAIN BLUE NAVBAR ------------ */

.menu3 {
  display: block;
  position: sticky;
  top: 10px;
}

.navbar {
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  list-style-type: none;
  padding: 0 10px;
  font-size: 1.45rem;
}

.navbar ul li:first-child {
  margin-right: 70px
}

.navbar ul li:last-child {
  margin-right: 0;
  margin-left: 230px;
  font-weight: 550;
}

.navbar ul li {
  margin-right: 40px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}

#bar-icon {
  color: var(--secondary-color);
  font-size: 2rem;
}